@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomCrop</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/croppieFiles/croppie.css" /> <!-- Update the path -->
    <script src="~/lib/croppieFiles/croppie.min.js"></script>
    <style>
        .croppie-container {
            width: 100%;
            height: 80%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">

                <div class="card" style="margin-top:10px;">
                    <div class="card-header">Cropper in ASP.NET Core</div>
                    <div class="card-body">
                        <div id="main-cropper"></div>
                        <div class="btn-group-vertical col-md-12" style="margin-top: 10px;margin-bottom:10px">
                            <button id="btnrotate" name="btnrotate" class="btn btn-info btn-block">Rotate</button>
                        </div>
                        <input type="file" id="select" class="form-control" value="Choose Image" accept="image/*">
                        <div class="btn-group-vertical col-md-12" style="margin-top: 10px;">
                            <button id="btnupload" name="btnupload" class="btn btn-success btn-block">Crop</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">

    //initialize Croppie
    var basic = $('#main-cropper').croppie
        ({
            viewport: { width: 300, height: 300 },
            boundary: { width: 500, height: 400 },
            showZoomer: true,
            enableOrientation: true,
            url: '/DefaultImages/preview.jpg',
            format: 'png' //'jpeg'|'png'|'webp'
        });

    // Function to rotate the image 90 degrees clockwise
    function rotateImage() {
        $('#main-cropper').croppie('rotate', 90); // Rotate the image by 90 degrees clockwise
    }

    // Bind the "Rotate" button click event to the rotateImage function
    $('#btnrotate').on('click', function () {
        rotateImage();
    });


    //Reading the contents of the specified Blob or File
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#main-cropper').croppie('bind', {
                    url: e.target.result
                });
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Change Event to Read file content from File input
    $('#select').on('change', function () { readFile(this); });


    // Upload button to Post Cropped Image to Store.
    $('#btnupload').on('click', function () {
        basic.croppie('result', 'blob').then(function (blob) {
            var formData = new FormData();

            formData.append('filename', 'FileName.png');
            formData.append('blob', blob);
            var myAppUrlSettings =
            {
                MyUsefulUrl: '@Url.Action("CustomCrop", "Demo")'
            }

            var request = new XMLHttpRequest();
            request.open('POST', myAppUrlSettings.MyUsefulUrl);
            request.send(formData);
            request.onreadystatechange = function () { // Call a function when the state changes.
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    var response = JSON.parse(request.responseText);

                    if (response.message == "OK") {
                        alert('Photo Cropped Successfully!');
                        window.location.reload();
                    }

                    if (response.message == "ERROR") {
                        window.location.reload();
                    }
                }
            }
        });
    });

</script>